.container-body{
    width: 74%;
    margin: 5% 16%;
}
.container-body h1{
    font-size: 1.5rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin: 3% 0;
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }